.receita{
    background-color: rgb(255, 245, 212);
    width: 360px;
    margin: 7px 7px 7px 7px;
    padding: 7px 7px 7px 7px;
    font-size: 20px;   
}
.receita h2{
    text-align: center;
}

.alinhar{
    position: relative;
}